<div class="container">
  <table>
    <thead>
      <tr>
        <th>Ustawienia</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="td-width">Jednostka:</td>
        <td>
          <form action="#">
            <p>
              <label>
                <input
                  class="with-gap"
                  name="group1"
                  type="radio"
                  (change)="onItemChange($event.target.value)"
                  value="C"
                  [checked]="actualUnit === weatherlUnit.Celcius"
                />
                <span>°C</span>
              </label>
            </p>
            <p>
              <label>
                <input
                  class="with-gap"
                  name="group1"
                  type="radio"
                  (change)="onItemChange($event.target.value)"
                  value="F"
                  [checked]="actualUnit === weatherlUnit.Fahrenheit"
                />
                <span>°F</span>
              </label>
            </p>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col s3 offset-s9 flex">
      <a class="waves-effect waves-light btn" routerLink="/home"
        ><i class="material-icons left">keyboard_backspace</i>Powrót</a
      >
    </div>
  </div>
</div>
